# Dependencies
node_modules/
dist/
/build
*.tsbuildinfo
tsconfig.tsbuildinfo


# Client
client/node_modules/
client/dist/
client/build/
client/*.tsbuildinfo

# Environment variables
.env
.env.production
.env.local
.env.*.local

# Docker
.docker

# IDE
.vscode/
.idea/
*.swp
*.swo

# temp directory
.temp
.tmp